<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:fragment="header">
    <nav class="deep-purple darken-1">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Mflix Explorer</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/movies" class="waves-effect waves-light">Movies</a></li>
                <li><a href="/theaters" class="waves-effect waves-light">Theaters</a></li>
                <li><a href="/users" class="waves-effect waves-light">Users</a></li>
            </ul>
        </div>
    </nav>
</header>

</body>
</html>