<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div class="comment-container">
    <form th:action="@{/web/movie/comment/save-comment}" th:object="${comment}" method="post">
        <div class="comment-header">
            <div class="input-field">
                <input type="text" th:field="${comment.name}" id="name"/>
                <label for="name">Name</label>
            </div>
            <div class="input-field">
                <input type="text" th:field="${comment.email}" id="email"/>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="input-field">
            <input type="text" th:field="${comment.text}" id="text"/>
            <label for="text">Comment</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Post</button>
    </form>
</div>
</body>
</html>