<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mflix Explorer Home</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section>
        <div class="container grid">
            <div class="home-data">
                <h1 class="home-title">Mflix Explorer</h1>
                <h3 class="home-subtitle">Welcome to the Mflix Database Explorer!</h3>
                <p class="home-description">
                    Unlock the power of data with Mflix Explorer, your go-to database searching application built to harness the vast repository of movie data within the MongoDB sample dataset, Mflix. <br>
                    Whether you're a developer, data analyst, or a movie enthusiast, Mflix Explorer provides an intuitive and robust platform to search, analyze, and manage your movie database with ease. <br> <br>

                    Our application offers comprehensive CRUD (Create, Read, Update, Delete) functionalities, allowing you to seamlessly interact with the Mflix dataset. <br>
                    Effortlessly browse through a rich collection of movie records, from classic blockbusters to contemporary hits.<br>
                    Customize and refine your searches using our advanced query options, and get detailed insights and statistics on your favorite films. <br> <br>

                    With Mflix Explorer, you have the tools to: <br>

                    Create: Add new movies to the database with detailed metadata. <br>
                    Read: Search and view detailed information on thousands of movies. <br>
                    Update: Modify existing records to keep your database up-to-date. <br>
                    Delete: Remove obsolete or incorrect entries with confidence. <br> <br>

                    Dive into the world of movies with Mflix Explorer and experience the ultimate database management solution designed to meet your needs. <br>
                    Get started today and transform how you interact with movie data!
                </p>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>