<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mflix Explorer</title>
</head>
<body>

<main>
    <div>
        <h1>Mflix Explorer</h1>
        <div>
            <h3>Mflix Database Explorer</h3>
            <p>
                Welcome to Mflix Explorer! <br> <br>

                Unlock the power of data with Mflix Explorer, your go-to database searching application built to harness the vast repository of movie data within the MongoDB sample dataset, Mflix. <br>
                Whether you're a developer, data analyst, or a movie enthusiast, Mflix Explorer provides an intuitive and robust platform to search, analyze, and manage your movie database with ease. <br> <br>

                Our application offers comprehensive CRUD (Create, Read, Update, Delete) functionalities, allowing you to seamlessly interact with the Mflix dataset. <br>
                Effortlessly browse through a rich collection of movie records, from classic blockbusters to contemporary hits.<br>
                Customize and refine your searches using our advanced query options, and get detailed insights and statistics on your favorite films. <br> <br>

                With Mflix Explorer, you have the tools to: <br>

                Create: Add new movies to the database with detailed metadata. <br>
                Read: Search and view detailed information on thousands of movies. <br>
                Update: Modify existing records to keep your database up-to-date. <br>
                Delete: Remove obsolete or incorrect entries with confidence. <br> <br>

                Dive into the world of movies with Mflix Explorer and experience the ultimate database management solution designed to meet your needs. <br>
                Get started today and transform how you interact with movie data!
            </p>
        </div>
    </div>
</main>

</body>
</html>