<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Movie</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section>
        <div class="container grid">
            <h3>Edit Movie</h3>
            <div class="form-data">
                <form th:object="${movie}" th:action="@{/movie/edit/save/{id}(id=${movie.id})}" method="post">
                    <label for="id">ID:
                        <input type="text" id="id" th:field="*{id}" />
                    </label><br>

                    <label for="plot">Plot:
                        <textarea id="plot" th:field="*{plot}"></textarea>
                    </label><br>

                    <label for="genres">Genres:
                        <input type="text" id="genres" th:field="*{genre}" />
                    </label><br>

                    <label for="runtime">Runtime:
                        <input type="number" id="runtime" th:field="*{runtime}" />
                    </label><br>

                    <label for="cast">Cast:
                        <input type="text" id="cast" th:field="*{cast}" />
                    </label><br>

                    <label for="poster">Poster:
                        <input type="text" id="poster" th:field="*{poster}" />
                    </label><br>

                    <label for="title">Title:
                        <input type="text" id="title" th:field="*{title}" />
                    </label><br>

                    <label for="fullplot">Full Plot:
                        <textarea id="fullplot" th:field="*{fullplot}"></textarea>
                    </label><br>

                    <label for="languages">Languages:
                        <input type="text" id="languages" th:field="*{languages}" />
                    </label><br>

                    <label for="released">Released:
                        <input type="datetime-local" id="released" th:field="*{released}" />
                    </label><br>

                    <label for="directors">Directors:
                        <input type="text" id="directors" th:field="*{directors}" />
                    </label><br>

                    <label for="rated">Rated:
                        <input type="text" id="rated" th:field="*{rated}" />
                    </label><br>

                    <label for="awards">Awards:
                        <input type="text" id="awards" th:field="*{awards}" />
                    </label><br>

                    <label for="lastUpdated">Last Updated:
                        <input type="text" id="lastUpdated" th:field="*{lastUpdated}" />
                    </label><br>

                    <label for="year">Year:
                        <input type="text" id="year" th:field="*{year}" />
                    </label><br>

                    <label for="imdb">IMDB:
                        <input type="text" id="imdb" th:field="*{imdb}" />
                    </label><br>

                    <label for="countries">Countries:
                        <input type="text" id="countries" th:field="*{countries}" />
                    </label><br>

                    <label for="type">Type:
                        <input type="text" id="type" th:field="*{type}" />
                    </label><br>

                    <label for="tomatoes">Tomatoes:
                        <input type="text" id="tomatoes" th:field="*{tomatoes}" />
                    </label><br>

                    <label for="num_mflix_comments">Number of Mflix Comments:
                        <input type="number" id="num_mflix_comments" th:field="*{num_mflix_comments}" />
                    </label><br>
                    <button class="purple-button" type="submit">Save changes</button>
                </form>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>

