<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Comment</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section>
        <div class="container grid">
            <div class="comment-container">

                <h3>Add Comment</h3>
                <form th:action="@{/movie/comment/save-comment}" th:object="${comment}" method="post">
                    <div class="input-field">
                        <div class="input-field">
                            <label for="name">Name: </label>
                            <input type="text" th:field="${comment.name}" id="name"/>
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="email">Email: </label>
                        <input type="text" th:field="${comment.email}" id="email"/>
                    </div>

                    <label for="text">Comment:</label>
                    <div class="input-field">
                        <textarea th:field="${comment.text}" id="text"></textarea>
                    </div>
                    <div class="comment-buttons">
                        <button class="purple-button" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>


<main class="main">

</main>

</body>
</html>