<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<main class="main">
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>FullPlot</th>
        <th>Genre</th>
        <th>Runtime</th>
        <th>Cast</th>
        <th>Poster</th>
        <th>Languages</th>
        <th>Released</th>
        <th>Directors</th>
        <th>Imdb</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.fullplot}"></td>
        <td th:text="${movie.genre}"></td>
        <td th:text="${movie.cast}"></td>
        <td th:text="${movie.poster}"></td>
        <td th:text="${movie.languages}"></td>
        <td th:text="${movie.released}"></td>
        <td th:text="${movie.directors}"></td>
        <td th:text="${movie.imdb}"></td>
        <td><a th:href="@{/web/movies/edit/{id}(id=${movie.getId()})}">Edit</a></td>
        <td><a th:href="@{/web/movies/delete/{id}(id=${movie.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</main>
</body>
</html>