<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Comment</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section>
        <div class="container grid">
            <div class="comment-container">
                <button class="purple-button">Update Comment</button>
                <form th:action="@{/movie/comment/update/{id}(id=${id})}" th:object="${comment}" method="post">
                    <div class="comment-header">
                        <span class="comment-name" th:text="${comment.name}"></span>
                        <span class="comment-date" th:text="${comment.date}"></span>
                    </div>
                    <div class="comment-email" th:text="${comment.email}"></div>
                    <p></p>
                    <label for="text">Comment:</label>
                    <div class="input-field">
                        <textarea th:field="${comment.text}" id="text"></textarea>
                    </div>
                    <div class="comment-buttons">
                        <button class="btn waves-effect waves-light" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>

