<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Movie</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section>
        <div class="container grid">
            <h3>Create Movie</h3>
            <div class="form-data">
                <form th:object="${movie}" th:action="@{/movie/create/save}" method="post">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" th:value="*{title}">
                    <label for="plot">Plot</label>
                    <input type="text" name="plot" id="plot" th:value="*{plot}">
                    <label for="runtime">Runtime</label>
                    <input type="number" name="runtime" id="runtime" th:value="*{runtime}">
                    <label for="poster">Poster</label>
                    <input type="text" name="poster" id="poster" th:value="*{poster}">
                    <label for="year">Year</label>
                    <input type="text" name="year" id="year" th:value="*{year}">
                    <label for="fullplot">Full plot</label>
                    <input type="text" name="fullplot" id="fullplot" th:value="*{fullplot}">
                    <label for="released">released</label>
                    <input type="datetime-local"  name="released" id="released" th:value="*{released}">
                    <label for="rated">Rated</label>
                    <input type="text"  name="rated" id="rated" th:value="*{rated}">
                    <label> Directors
                        <input th:each="director,dirStat : *{directors}"
                               type="text"
                               th:field="*{directors[__${dirStat.index}__]}">
                    </label>
                    <button class="purple-button" type="submit" name="addField" value="director">Add director</button><br>
                    <label> Cast
                        <input th:each="cast,castStat : *{cast}"
                               type="text"
                               th:field="*{cast[__${castStat.index}__]}">
                    </label>
                    <button class="purple-button" type="submit" name="addField" value="cast">Add cast member</button><br>
                    <label>Award wins
                        <input type="number" th:field="*{awards.wins}">
                    </label>
                    <button class="purple-button" type="submit">Add</button>
                </form>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>
