<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<main class="main">
    <div th:insert="~{/fragments/header :: header}"></div>
    <div>
        <a class="button-link" th:href="@{/web/movie/comment/add}"><button id="add-comment-btn"  type="submit">Add Comment</button></a>
    </div>

    <div class="comment-container" th:each="comment : ${comments}">
        <div class="comment-header">
            <span class="comment-name" th:text="${comment.name}"></span>
            <span class="comment-date" th:text="${comment.date}"></span>
        </div>
        <div class="comment-email" th:text="${comment.email}"></div>
        <div class="comment-text" th:text="${comment.text}"></div>
        <div class="comment-buttons">
            <a class="button-link" th:href="@{/web/movie/comment/edit/{id}(id=${comment.id})}"><button class="btn waves-effect waves-light" type="submit">Edit</button></a>
            <a class="button-link" th:href="@{/web/movie/comment/delete/{id}(id=${comment.id})}"><button class="btn waves-effect waves-light" type="submit">Delete</button></a>
        </div>
    </div>
</main>

</body>
</html>