<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Theaters</title>
  <link th:href="@{/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
  <section>
    <div class="container grid">
      <div class="table-data">
        <h3>Theaters</h3>
        <div>
          <form th:action="@{/theaters/search}" method="get">
            <label>
              <input type="text" name="query" placeholder="Search...">
            </label>
            <button type="submit">Search</button>
          </form>
          <a th:href="@{/theater/add}">
            <button class="purple-button">Add Theater</button>
          </a>
        </div>
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Coordinates</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="theater : ${theaters}">
            <td th:text="${theater.theaterId}"></td>
            <td th:text="${theater.location.address.street1}"></td>
            <td th:text="${theater.location.address.city}"></td>
            <td th:text="${theater.location.address.state}"></td>
            <td th:text="${theater.location.address.zipcode}"></td>
            <td th:text="'(' + ${theater.location.geo.coordinates[0]} + ', ' + ${theater.location.geo.coordinates[1]} + ')'"></td>
            <td><a th:href="@{/theater/edit/{id}(id=${theater.theaterId})}">Edit</a></td>
            <td><a th:href="@{/theater/delete/{id}(id=${theater.theaterId})}">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>