<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section>
        <div class="container grid">
            <h3>All Users</h3>
            <div class="table-data">
                <a th:href="@{/user/create}">
                    <button class="purple-button">Create User</button>
                </a>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user._id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td><a th:href="@{/user/edit/{id}(id=${user._id})}">Edit</a></td>
                        <td><a th:href="@{/user/delete/{id}(id=${user._id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>

</body>
</html>