<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Edit</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<header th:insert="~{/fragments/header :: header}"></header>

<main class="main">
    <section class="title">
        <div class="container grid">
            <h3>Update User</h3>
            <div class="form-data">
                <form th:action="@{/user/edit/save/{id}(id=${user._id})}" th:object="${user}" method="post">

                    <label>Name
                        <input type="text" th:field="${user.name}"/>
                    </label><br>

                    <label>Email
                        <input type="text" th:field="${user.email}"/>
                    </label><br>

                    <label>Password
                        <input type="text" th:field="${user.password}"/>
                    </label><br>

                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="purple-button" type="submit">Update User</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<footer th:insert="~{/fragments/footer :: footer}"></footer>


</body>
</html>
