<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
<!--    <link th:href="@{/style.css}" rel="stylesheet">-->
</head>
<body>
<!--<div th:insert="~{/fragments/header :: header}"></div>-->


<main class="main">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getPassword()}"></td>
        </tr>
        </tbody>
    </table>
</main>

<!--<div th:insert="~{/fragments/footer :: footer}"></div>-->
</body>
</html>