<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<main class="main">
    <div th:insert="~{/fragments/header :: header}"></div>
    <h3>All Users</h3>
    <a th:href="@{/web/user/create}">Create User</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user._id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td><a th:href="@{/web/user/edit/{id}(id=${user._id})}">Edit</a></td>
            <td><a th:href="@{/web/user/delete/{id}(id=${user._id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div th:insert="~{/fragments/footer :: footer}"></div>

</main>

<!--<div th:insert="~{/fragments/footer :: footer}"></div>-->
</body>
</html>